DATABASE_URL="postgresql://root:password@localhost:5432/viberoom?schema=public"
REDIS_URL="redis://localhost:6379"

JWT_SECRET="super_secret_jwt_key_for_development_only"

TELEGRAM_BOT_TOKEN="your_telegram_bot_token"
TELEGRAM_BOT_USERNAME="VibeRoomBot"

NEXT_PUBLIC_API_URL="http://localhost:3001"
NEXT_PUBLIC_WS_URL="ws://localhost:3001"

TELEGRAM_WEBAPP_URL="https://your-ngrok-url.ngrok-free.app"

LIVEKIT_URL="wss://your-livekit-instance"
LIVEKIT_API_KEY="your_api_key"
LIVEKIT_API_SECRET="your_api_secret"

YOUTUBE_API_KEY="your_youtube_api_key"
